# Build artifacts
bin/
obj/
out/

/bin/
/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Visual Studio settings
.vs/

# Rider settings
.idea/

# NuGet packages
*.nupkg
*.snupkg
packages/
.nuget/



# SQLite database file (optional)
*.db

# Logs
*.log


# Secrets
appsettings.Development.json
appsettings.Local.json
secrets.json
.env